Repository hmcts/civil-wa-task-configuration, pull requests merged in 2022-12, with the labels that each got.

#75 CIV-5176DMNs for GA Creation Urgent Appln.
  build.gradle
  charts/civil-task-configuration/Chart.yaml
  charts/civil-task-configuration/values.preview.template.yaml
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-75

#92 CIV-6106 - Remove Dependencies on User Profile
  charts/civil-task-configuration/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-92

#100 CIV-6089 Move postgresql to chat-java
  charts/civil-task-configuration/Chart.yaml
  charts/civil-task-configuration/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-100

#102 Civ 6112
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-102

#103 CIV-6105 jenkins and charts clean
  .gitignore
  Jenkinsfile_CNP
  charts/civil-task-configuration/values.preview.template.yaml
  charts/civil-task-configuration/values.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-103

#101 Adding row for 6110
  config/owasp/suppressions.xml
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-101

#106 Update asset info and task info
  Jenkinsfile_CNP
  bin/pull-latest-civil-ccd-files.sh
  bin/pull-latest-general-app-ccd-files.sh
  build.gradle
  wa/tasks/caseProgressionTakeCaseOfflineTask.js
  wa/tasks/fastTrackDirections.js
  wa/tasks/judgeDecideOnApplicationAfterSDOTask.js
  wa/tasks/judgeDecideOnApplicationBeforeSDOTask.js
  wa/tasks/judgeRevisitApplicationAfterSDO.js
  wa/tasks/judgeRevisitApplicationBeforeSDO.js
  wa/tasks/laDecideOnApplicationBeforeSDOTask.js
  wa/tasks/legalAdvisorRevisitApplication.js
  wa/tasks/legalAdvisorSmallClaimsTrackDirections.js
  wa/tasks/reviewApplicationOrderAfterSDOTask.js
  wa/tasks/reviewApplicationOrderBeforeSDOTask.js
  wa/tasks/reviewApplicationTask.js
  wa/tasks/reviewRevisitedApplication.js
  wa/tasks/reviewRevisitedApplicationWrittenRep.js
  wa/tasks/scheduleAHearing.js
  wa/tasks/scheduleAppHearingAfterSDOTask.js
  wa/tasks/scheduleAppHearingBeforeSDOTask.js
  wa/tasks/smallClaimDirectionsTask.js
  wa/tasks/smallClaimsTrackDirectionsReferral.js
  wa/tasks/summaryJudgmentDirectionsTask.js
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-106
