Repository hmcts/civil-wa-task-configuration, pull requests merged in 2022-09, with the labels that each got.

#46 Run ft on camunda pipeline
  Jenkinsfile_CNP
  bin/add-roles.sh
  bin/import-ccd-definition.sh
  bin/import-dmn-diagram.sh
  bin/pull-latest-release-asset.sh
  bin/utils/ccd-add-role.sh
  bin/utils/ccd-import-definition.sh
  bin/utils/idam-lease-service-token.sh
  bin/utils/idam-lease-user-token.sh
  bin/utils/import-ccd-definition.sh
  bin/utils/process-definition.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-preview-environment-variables.sh
  bin/variables/load-prod-environment-variables.sh
  bin/wait-for.sh
  build.gradle
  camunda-deployment.sh
  charts/civil-task-configuration/Chart.yaml
  charts/civil-task-configuration/values.aat.template.yaml
  charts/civil-task-configuration/values.preview.template.yaml
  charts/civil-task-configuration/values.yaml
  charts/ia-task-configuration/.helmignore
  charts/ia-task-configuration/Chart.yaml
  charts/ia-task-configuration/templates/NOTES.txt
  charts/ia-task-configuration/values.aat.template.yaml
  charts/ia-task-configuration/values.preview.template.yaml
  charts/ia-task-configuration/values.yaml
Labels: ns:civil, rel:civil-task-configuration-pr-46, prd:civil

#55 Fixed issues for specific access
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-55

#57 Fixed issues for specific access for next step
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-57

#58 Add nightly job to run test on int demo
  Jenkinsfile_nightly
  bin/add-roles.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-58

#59 Adding test asset
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-59
