Repository hmcts/civil-wa-task-configuration, pull requests merged in 2023-05, with the labels that each got.

#236 CIV-0000 Updating urls to .preview.platform.hmcts.net
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  charts/civil-task-configuration/Chart.yaml
  charts/civil-task-configuration/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-236

#235 CIV-8143 Legal Advisor needs to be able to refer to Judge
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-235

#241 CIV-000 add yarn builder
  .nvmrc
  .yarnrc.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-241

#238 CIV-7885 Consent Orders to be reviewed by Caseworker (Work allocation)
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-238

#239 CIV-0000 - added new column and additional rule for CUI SDO support.
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-239

#245 Revert "CIV-0000 - added new column and additional rule for CUI SDO s…
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-245

#232 CIV-0000 TASK PR for WA 4.0 release
  src/main/resources/privilege-calendar.json
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-232

#248 CIV-0000 remove ga task types
  src/main/resources/wa-task-types-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaWaTaskTypesTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-248

#250 CIV-000 remove CP related tasks
  src/main/resources/wa-task-types-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-250

#254 CIV-7497 Adding SDO changes for CUI.
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-254

#258 CIV-0000 Fix nightly job with R4 permissions
  wa/tasks/caseProgressionTakeCaseOfflineTask.js
  wa/tasks/fastTrackDirectionsTask.js
  wa/tasks/smallClaimDirectionsTask.js
  wa/tasks/summaryJudgmentDirectionsTask.js
  wa/tasks/transferOfflineSdo.js
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-258

#260 CIV-7877 Default Judgment journey: ‘not suitable for SDO’ event in the next step dropdown WA changes
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-260

#266 CIV-0000 pipeline_fix 25May
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-266

#269 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-269

#265 CIV-7930 Consent Order Refer to judge
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-265

#259 CIV-7865 - SDO DMN for Part Admit Journeys
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/resources/wa-task-initiation-civil-civil.dmn
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-259
