Repository hmcts/civil-wa-task-configuration, pull requests merged in 2023-09, with the labels that each got.

#327 CIV-9930 vary Judgement
  build.gradle
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-327

#347 CIV-0000 remove enable helm
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-347

#354 CIV-10231 Update GA type settle by consent
  .github/workflows/main.yml
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-354
