Repository hmcts/civil-wa-task-configuration, pull requests merged in 2023-02, with the labels that each got.

#132 CIV-4481 Update dependency check version
  Jenkinsfile_CNP
  build.gradle
  charts/civil-task-configuration/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-132

#107 CIV-6547 - changed link for ScheduleAHearing task
  charts/civil-task-configuration/Chart.yaml
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-107

#133 CIV-6547 - Revert master -changed link for ScheduleAHearing task
  charts/civil-task-configuration/Chart.yaml
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-133

#104 CIV-5176 Merged 6196 missing changes into 5176
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-104

#120 CIV-6018 Added a new input condition to check case progression is enabled or not
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-120

#130 CIV-6644 Cleanup of helm release regardless
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-130

#129 CIV-5433 - Correct Stale Workflow
  .github/workflows/stale.yml
  charts/civil-task-configuration/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-129

#134 CIV-7082 remove dependabot and delegate its tasks to renovate
  .dependabot/config.yml
  .github/renovate.json
  Dockerfile
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-134

#145 CIV-5433 - Correct Code Owners
  .github/CODEOWNERS
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-145

#149 CIV-0000 Genapp frozen lock removal and chart upgrade
  build.gradle
  charts/civil-task-configuration/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-149

#144 CIV-6861 Add Unless Order Scheduler Task
  bin/add-roles.sh
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-144

#163 CIV-3078 Release 3.5 dmns on to prod for dj release
  Jenkinsfile_CNP
  bin/import-dmn-diagram.sh
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-cancellation-civil-generalapplication.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-163
