Repository hmcts/civil-wa-task-configuration, pull requests merged in 2023-01, with the labels that each got.

#109 CIV-6605 - Add missing empty string to method for demo
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-109

#108 CIV-6049
  config/owasp/suppressions.xml
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-108

#105 CIV-6338 Bug for multiple application types fixed for Refer to Legal …
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-105

#112 Civ 6700 Update to SDO DMN configuration
  config/owasp/suppressions.xml
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-112

#93 Civ 6062_6064 WA-3.5 Update General Apps Configuration and Permissions DMN
  Jenkinsfile_CNP
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-93

#117 CIV-5707 - Upgrade Terraform V 0.12 > 1.3
  .gitignore
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, no-changes, rel:civil-task-configuration-pr-117

#119 CIV-5707 - remove unused variable
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, no-changes, rel:civil-task-configuration-pr-119

#63 Feat/civil 4481 dmn permission
  config/owasp/suppressions.xml
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-63

#61 civil-4483-dmns-caseprogression
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-61

#76 added dmn config changes for caseprogression
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-76

#128 CIV-5433 - Add PR Title Validation and Code Owners
  .github/CODEOWNERS
  .github/workflows/main.yml
  .github/workflows/stale.yml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-128
