Repository hmcts/civil-wa-task-configuration, pull requests merged in 2023-06, with the labels that each got.

#270 CIV-0000 Updating renovate config
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-270

#251 CIV-7819 sdo/dj tasks allow 20 days instead of 5
  src/main/resources/wa-task-configuration-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-251

#278 CIV-8609 Added autocompletion for APPROVE_CONSENT_ORDER event trigger
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-278

#286 CIV-8884 - CUI: create and link access roles
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-286

#292 CIV-8430 Refactor GA type Adjourn hearing
  charts/civil-task-configuration/values.preview.template.yaml
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-292

#234 CIV-7879 Task tab showing ‘Provisional Summary Judgment’ which is incorrect
  src/main/resources/wa-task-configuration-civil-civil.dmn
  wa/tasks/summaryJudgmentDirectionsTask.js
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-234

#296 CIV-0000 suppress CVE
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-296
