Repository hmcts/civil-wa-task-configuration, pull requests merged in 2023-03, with the labels that each got.

#187 CIV-7637 WA nightly task testing changes
  Jenkinsfile_nightly
  build.gradle
  wa/tasks/caseProgressionTakeCaseOfflineTask.js
  wa/tasks/summaryJudgmentDirectionsTask.js
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-187

#177 CIV-7411 Removed configuration for variable isgaCaseProgressionEnable…
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-177

#174 CIV-6942 Ga wa 4.0 changes
  config/owasp/suppressions.xml
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/main/resources/wa-task-types-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/DmnDecisionTable.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaWaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-174

#200 CIV-0000 added service request values to values.preview
  charts/civil-task-configuration/Chart.yaml
  charts/civil-task-configuration/values.preview.template.yaml
  charts/civil-task-configuration/values.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-200

#201 CIV-0000 fix nightly asset access
  build.gradle
  charts/civil-task-configuration/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-201
