Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-02, with the labels that each got.

#498 CIV-0000 Fix nightly
  wa/tasks/scheduleAHearing.js
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-498

#496 CIV-11768 Work Allocation for Case Flags
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-496

#503 CIV-0000 Test tag update
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-503

#509 CIV-0000 Adding "transferOnlineCase" for Admin role type
  src/main/resources/wa-task-configuration-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-509

#465 CIV-11297 - Help With Fees hearing task
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-465

#500 CIV-0000 Removing Toggle prod
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-500

#514 CIV-12446 added new rule for not suitable SDO
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-514

#512 CIV-12486 Summary Judgement task
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-512

#502 CIV-11807 - SDO DMN for Part Admit Journeys/ Defence journey - Release 2
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-502

#516 CIV-12331 role category CTSC set can reconfigure to true
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-516

#395 CIV-11849 Next hearing details WA
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-395

#482 CIV-10543 pointing_to_v15
  charts/civil-task-configuration/Chart.yaml
  charts/civil-task-configuration/values.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-482
