Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-11, with the labels that each got.

#712 CIV-15282 - change task to run only once
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-712

#725 CIV-15215 GA for LiPs Welsh : Application Documents Work Allocation task (LiP PDF documents and uploaded documents))
  src/main/resources/wa-task-cancellation-civil-generalapplication.dmn
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-725

#736 DTSCCI-813 dynamic defs case type
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-736
