Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-09, with the labels that each got.

#651 CIV-14588 bundle restitch WA tasks
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-651

#678 CIV-0000 MCI Release
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-678

#658 CIV-14419 Direct task to judge/legal adviser if consent order and LiP involved
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-658
