Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-08, with the labels that each got.

#636 CIV-14334 Submit function for HwF - GA for LiPs (Includes WA)
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-636

#647 DTSCCI-292 - small claim direction task for judge not for la V3
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-647

#652 CIV-14130 WA events for CaseWorker HWF
  src/main/resources/wa-task-cancellation-civil-generalapplication.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-652

#650 DTSCCI-679 - Add manualDetermination task Type to config column for location CTSC
  src/main/resources/wa-task-configuration-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-650

#661 DTSCCI-810 - Update decision instance ttl to 90 days for all dmn
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-cancellation-civil-generalapplication.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-661

#660 CIV-15022 - SDO task not being created for LA when claim was in mediation
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-660

#656 CIV-14895 WA task to take case offline after set aside in error or defence received
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-656
