Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-01, with the labels that each got.

#434 CIV-11241 Request for reconsideration initial commit
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-434

#428 CIV-8334 fast track noise induced hearing
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-428

#463 CIV-0000 - added Claim Amount for LR vs Lip/Lr vs Lr (1v1 claim)
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-463

#466 CIV-0000 - Added missing process category Identifiers values for #107 and #108
  src/main/resources/wa-task-initiation-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-466

#464 CIV-11750 Decision on Req For Reconsideration SDO tasks
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-464

#472 CIV-0000 fix CVE Issue
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-472

#437 CIV-11732 Updated HMC WA Changes
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-437

#475 CIV-11617 changed court for flags tasks
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-475

#485 CIV-0000 TOC Release
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-485

#487 CIV-0000 TOC Bug Fix
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-487

#488 CIV-11540 Added work allocations task for CUI claimant welsh request
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-488

#432 CIV-9754 - Added WA task configuration for manage party details
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-432

#489 CIV-11547 - Claim Issue: Issue Work Allocation
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-489

#492 CIV-11311 Claimant Intention: Case Flags
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-492

#494 CIV-11768 Claimant Intention: Case Flags
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-494
