Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-03, with the labels that each got.

#528 DTSCCI-0000 Update PR naming validation
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-528

#527 CIV-12046 - added rule for CCJ
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-527

#524 CIV-12998 Add UpdateDetailsInCasemanSystem wa task type
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-524

#517 CIV-12796 WA task not cancelled properly when case is taken offline
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-517

#531 CIV-12936 Defence received in time - order that judgment is set aside
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-531

#537 CIV-12936 fix wording
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-537

#542 CIV-0000 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-542

#545 CIV-0000 Update .nvmrc
  .nvmrc
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-545
