Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-05, with the labels that each got.

#574 CIV-13624 SdoR2 Fix
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-574

#583 DTSCCI-201 upgrade helm chart
  charts/civil-task-configuration/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-583

#538 CIV-0000 Restore NHD Task Reconfiguration Config
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-538

#573 CIV-13613 Schedule a hearing WA Task Update
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-573

#587 DTSCCI-296 Remove duplicate role assignment
  src/main/resources/wa-task-configuration-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-587
