Repository hmcts/civil-wa-task-configuration, pull requests merged in 2024-10, with the labels that each got.

#683 CIV-15062 - add roles for ctsc
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-683

#687 CIV-15204 - rename feature toggle to batch 1
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-687

#695 CIV-0000 removed r2 toggle
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-695

#692 DTSCCI-0000 SNI-6408 Remove standardDirectionsOrder process category identifier
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-692

#693 DTSCCI-966 Update-ccd-import-files
  bin/pull-latest-civil-ccd-files.sh
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-693

#700 CIV-15486 15487 Manage Stay WA Configuration
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-700

#709 CIV-0000 - Added CUI task names.
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-709

#702 Bulk sp5
  src/main/resources/wa-task-cancellation-civil-generalapplication.dmn
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/main/resources/wa-task-permissions-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGenAppConfigurationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-702

#710 CIV-15620 - HwF WA task missing 'due date' configuration
  src/main/resources/wa-task-configuration-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-710

#714 CIV-15638 Remove task requirement for Fee Payment Outcome event
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-714

#711 CIV-15617 - Preparing repo for CE B1 release
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-711

#716 CIV-15624 - Incorrect WA task name for small track WA tasks
  src/main/resources/wa-task-initiation-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-716
