Repository hmcts/civil-wa-task-configuration, pull requests merged in 2025-03, with the labels that each got.

#837 DTSCCI-1691 bump deprecated java chart
  charts/civil-task-configuration/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-837

#839 DTSCCI-0000 - Add work type LegalAdvisorRevisitApplication
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-839

#840 CIV-16752 - switch SetAside permission to admin
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-840

#843 CIV-16769 - SD tasks for LiPs
  bin/add-roles.sh
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-843

#831 CIV-16636 Respond to query WA
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-completion-civil-civil.dmn
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancelAllTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-831

#853 DTSCCI-1831 - resolve role category issue
  src/main/resources/wa-task-configuration-civil-generalapplication.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-853

#779 DTSCCI-1381 Updating claim amount field type integer to long.
  src/main/resources/wa-task-initiation-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-779
