Repository hmcts/civil-wa-task-configuration, pull requests merged in 2025-08, with the labels that each got.

#966 CIV-16907 Pause and Unpause of GA during translation of hearing notice (GA)
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-966

#982 CIV-17538 update the change to stop WA task initiation for request
  config/owasp/suppressions.xml
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-982

#972 CIV-17404 Remove condition on EA court for SDO ScheduleHMCHearing task
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-972
