Repository hmcts/civil-wa-task-configuration, pull requests merged in 2025-07, with the labels that each got.

#941 CIV-17353 Fast track SDO task not triggered when defendant is Welsh
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-941

#964 DTSCCI-2334 Implement Run Failed Tests as Default Behaviour to Master and PR
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/run-civil-ccd-task-tests.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-964

#960 DTSCCI-2074 Update DJ WA task for NOTIFY_INTERIM_JUDGMENT new event
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-960

#959 CIV-16899 translation general order
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-959

#958 CIV-16897 Update rule for dismissal order translation
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-958

#975 DTSCCI-000 Add CVE Suppressions
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-975

#961 CIV-16906 - Translation of GA hearing order document - pause and unpause
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-961
