Repository hmcts/civil-wa-task-configuration, pull requests merged in 2025-04, with the labels that each got.

#859 CIV-16938 Change PostEventState for SETTLE_CLAIM_MARKED _PAID IN_FILL
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-859

#862 CIV-16936 WA to remove a hearing if claim settled for LiP vs LiP/LiP vs LR claims
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-862

#864 CIV-16968 Cosc - HWF cancel WA task
  src/main/resources/wa-task-cancellation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskWaCancellationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-864

#861 DTSCCI-020 - And 253 - Update SDO tasks to New Legal Rules
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-861

#877 DTSCCI-000 - Add WA retrigger for Mediation Unsuccessful
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-877

#878 CIV-16845 - Update flag to detect language preference for SDO translation
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-878

#879 CIV-17037 - Pre-requisite changes for work allocating to WLU
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-879
