Repository hmcts/civil-wa-task-configuration, pull requests merged in 2025-09, with the labels that each got.

#987 CIV-17579 Duplicate WLU WA tasks for respondent response document
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-task-configuration-pr-987

#1011 DTSCCI-2715 All civil camunda bpmns or dmns should be set with TTL
  src/main/resources/court_location_for_tasks.dmn
  src/main/resources/wa-task-types-civil-civil.dmn
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-1011

#1003 CIV-17640 Release Implementation Prep - WA
  src/main/resources/wa-task-configuration-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/main/resources/wa-task-permissions-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-1003

#1010 CIV-17698 Error thrown for WLU Respondent written representations WA Task
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-1010

#1026 DTSCCI-0000 Update renovate.json
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-1026

#962 CIV-16903 Update rule for final order translation
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-962

#1030 CIV-17571 add warning text minti
  src/main/resources/wa-task-cancellation-civil-civil.dmn
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaCancellationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-1030
