Repository hmcts/civil-wa-task-configuration, pull requests merged in 2025-06, with the labels that each got.

#915 DTSCCI-2255 Implement Run Failed Tests on Nightly and PR
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/run-civil-ccd-task-tests.sh
  bin/run-nightly-civil-ccd-task-tests.sh
  build.gradle
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-task-configuration-pr-915

#917 DTSCCI-2255 Add 'aat' Env Variable to Master
  Jenkinsfile_CNP
Labels: runFailedTestFiles

#909 CIV-16859 delay notification and visibility of the docs
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-909

#912 CIV-16875 - Manual Hearing Notice - Delay notifications and visibility of document after translation uploaded (includes show element)
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-912

#923 DTSCCI-2265 use oci endpoint
  charts/civil-task-configuration/Chart.yaml
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-task-configuration-pr-923

#916 CIV-16882 Decsion of Reconsideration Request changes
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-916

#928 CIV-7132 pause in defendant response journey for lip vs lr
  src/main/resources/wa-task-initiation-civil-civil.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-task-configuration-pr-928

#938 DTSCCI-2086 swtich from jitpack config
  .github/workflows/ado_artifacts_build.yml
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-938

#935 CIV-16915 - Respond to application - Changes to WA task
  src/main/resources/wa-task-completion-civil-generalapplication.dmn
  src/main/resources/wa-task-initiation-civil-generalapplication.dmn
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaSubmissionTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/civil/taskconfiguration/dmnga/CamundaGaTaskCompletion.java
Labels: ns:civil, prd:civil, rel:civil-task-configuration-pr-935
